.page-intro {
    display: inline-flex;
    padding-left: 20px !important;
    overflow: scroll;
}
h3{
    margin: 25px 0px 10px 15px;
    font-size: 24px;
}
.welcome-note{
    font-size: 19px;
    padding: 8px 8px 8px 18px;
}
.search-bar{
    --border-radius:25px;
    --icon-color:var(--ion-color-primary);
    font-size:16px;
    margin-top: 10px;
    height: fit-content;
}
.segment-div{
    margin: 2px 4px;
    ion-button{
        --ripple-color:var(--gray)
    }
}
.segment-button{
    --border-radius:25px;
    color: black;
    --border-color:var(--gray);
    height: 45px;
    font-size: small;
}
.font-bold{
    --border-radius:25px;
    color: black;
    --border-color:var(--ion-color-primary);
    height: 45px;
    font-size: 18px;
}
.session-sqr-card{
    text-align: center;
    padding-bottom: 4px;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
}
.label{
    font-size: 15px;
    color: var(--black);
}
.card-button{
    --background:rgb(53, 120, 184);
    width: 76% !important;
    font-weight: bold;
    height: 43px;
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 30px;
}
.create-icon{
    font-size: 32px;
    margin: 10px;
}
.card-content{
    padding-top: 0px;
}
.section-header{
    margin: 8px 0px 12px 10px;
    letter-spacing: 1px;
}
.header {
    text-align: start;
}