<app-page-header [config]="headerConfig"></app-page-header>
<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="formData && formData.data">
        <app-generic-profile-header [headerData]='formData.data'[buttonConfig]="buttonConfig" [showRole]="true" (refresh)="refresh()" [isMentorVerified]="isMentorVerified"></app-generic-profile-header>
        <div *ngIf="showProfileDetails; else elseBlock">
            <ion-card *ngIf="formData?.data?.isAMentor" class="card-wrapper">
                <ion-card-content class="padding-top-10">
                    <ion-row>
                        <ion-col class="d-flex flex-justify-center card-header-config">{{"SESSIONS_CONDUCTED"|translate}}</ion-col>
                        <ion-col class="d-flex flex-justify-center card-header-config">{{"RATING"|translate}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="d-flex flex-justify-center card-value-config">{{formData?.data?.sessionsHosted}}</ion-col>
                        <ion-col class="d-flex flex-justify-center card-value-config"><app-star-rating [numberOfStars]="5" [rate]="formData?.data?.rating?.average" [isDisabled]="true"></app-star-rating></ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <div class="details-wrapper">
                <div class="field-wrapper" *ngIf="credentialsList.length>0">
                    <div class="details-section">
                      <p class="session-detail-heading" style="font-size: 16px;">Credentials</p>
                      <div *ngFor="let item of credentialsList;" class="credentials-list">
                        <div [ngSwitch]="item.type">
                            <div *ngSwitchCase="'identity'" class="credentials-block">
                                <div class="credentials-type">Identity</div>
                                <ion-row>
                                    <ion-col class="card-header-config">Id type</ion-col>
                                    <ion-col class="card-header-config" style="text-transform: capitalize;">{{item.documentType}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col class="card-header-config">Id number</ion-col>
                                    <ion-col class="card-header-config">{{item?.documentId||item?.uid}}</ion-col>
                                </ion-row>
                                <ion-row *ngIf="item.url">
                                    <ion-col class="card-header-config">Document</ion-col>
                                    <ion-col class="card-header-config" (click)="openFile(item.url)"><a>View</a></ion-col>
                                </ion-row>
                            </div>
                            <div *ngSwitchCase="'skill'" class="credentials-block">
                                <div class="credentials-type">Skill</div>
                                <ion-row>
                                    <ion-col class="card-header-config">Course</ion-col>
                                    <ion-col class="card-header-config">{{item.skill}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col class="card-header-config">University</ion-col>
                                    <ion-col class="card-header-config">{{item.university}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col class="card-header-config">Roll number</ion-col>
                                    <ion-col class="card-header-config">{{item.rollNo}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col class="card-header-config">Year of passing</ion-col>
                                    <ion-col class="card-header-config">{{item.YOP}}</ion-col>
                                </ion-row>
                                <ion-row *ngIf="item.url">
                                    <ion-col class="card-header-config">Document</ion-col>
                                    <ion-col class="card-header-config" (click)="openFile(item.url)"><a>View</a></ion-col>
                                </ion-row>
                            </div>
                            <div *ngSwitchCase="'work'" class="credentials-block">
                                <div class="credentials-type">Work experience</div>
                                <ion-row>
                                    <ion-col class="card-header-config">Company name</ion-col>
                                    <ion-col class="card-header-config">{{item.companyName}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col class="card-header-config">Years of experience</ion-col>
                                    <ion-col class="card-header-config">{{item.experience}}</ion-col>
                                </ion-row>
                                <ion-row *ngIf="item.url">
                                    <ion-col class="card-header-config">Document</ion-col>
                                    <ion-col class="card-header-config" (click)="openFile(item.url)"><a>View</a></ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <app-generic-details [sessionData]='formData' isProfile="true"></app-generic-details>
            </div>
        </div>
        <ng-template #elseBlock>
            <p class="no-details-message">{{ "NO_USER_DETAILS_FOUND" | translate }}</p>
        </ng-template>
    </div>
</ion-content>