<app-page-header [config]="headerConfig">
  <ion-row class="header-bottom-border ion-padding">
    <h3>
      {{'WELCOME'| translate}} {{ user?.name }}!
    </h3>
    <ion-col class="welcome-note" size="12">{{'START_CREATING_SESSION' | translate}}</ion-col>
    <ion-col size="12" class="ion-no-padding">
    </ion-col>
  </ion-row>
</app-page-header>
<ion-content>
  <div class="session-sqr-card">
    <ion-card class="session-sqr-card">
      <ion-card-content class="card-content">
        <ion-label class="section-header">
          {{'CREATE_SESSION_USING' | translate}}
        </ion-label>
        <div>
          <ion-button shape="round" strong="true" class="card-button" (click)="createSession('bot')">
            AI Chat-BOT<ion-icon class="create-icon" name="add-circle-outline"></ion-icon>
          </ion-button>
          <ion-button shape="round" strong="true" class="card-button" (click)="createSession('form')">
            Standard Form<ion-icon class="create-icon" name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>